<header>
<nav>
    <div>
        <a href="#"><img src="./images/logo.png" alt="" class="logo"></a>
    </div>

    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
  <i class="fas fa-bars"></i>
</label>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/product">Productos</a></li>
        <li><a href="/register">Registrate</a></li>
        <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i></a></li>
    </ul>

</nav>
</header>
