<% shoes.forEach((shoes)=> { %>
    <div class="container">
        <div class="product prod-desk">
            <div class="product-card">
          
                <h2 class="name"><%= shoes.nombre %></h2>
                <span class="price"><%= shoes.precio %></span>
                <a class="popup-btn" href="/carrito">Comprar</a>
                 <a class="popup-btn" href="/editar">Editar</a>
                 <a class="popup-btn">Eliminar</a>
                <%- shoes.imagen %>
               
            </div>
        </div>
        <% }) %>  
