<!DOCTYPE html>
<html lang="en">

<!--
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Shoes - Ardidas</title>
    <link rel="stylesheet" href="./css/styles_home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
</head>
-->

<%-include("./partials/head.ejs")%>


<body>
      <%-include("./partials/header.ejs")%>
    <div class="header">
        <div class="title-header">
            <h2>MIRÁ UN ADELANTO<br><span>&nbsp;&nbsp;&nbsp;&nbsp; DE LA NUEVA COLECCIÓN</span></h2>
        </div>


    <!-- Sneakers -->
    <div class="title-card">
        <h2>Sneakers</h2>
    </div>
    <%-include("./partials/tarjeta.ejs")%>


    <!-- FOOTER -->
    <%-include("./partials/footer.ejs")%>

    <!-- FIN FOOTER -->





</body>

</html>
