<!DOCTYPE html>
<html lang="en">

<!--
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Shoes - Ardidas</title>
    <link rel="stylesheet" href="./css/styles_home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
</head>
-->

<%-include("./partials/head.ejs")%>


<body>
    <nav>
        <div>
            <a href="#"><img src="./images/logo.png" alt="" class="logo"></a>
        </div>

        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Productos</a></li>
            <li><a href="/register">Registrate</a></li>
            <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i></a></li>
        </ul>

    </nav>
    <header class="header">
        <div class="title-header">
            <h2>MIRÁ UN ADELANTO<br><span>&nbsp;&nbsp;&nbsp;&nbsp; DE LA NUEVA COLECCIÓN</span></h2>
        </div>
    </header>


    <!-- Sneakers -->
    <div class="title-card">
        <h2>Sneakers</h2>
    </div>
    <div class="container">
        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Air Jordan</h2>
                <span class="price">$1850.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-Air-Jordan.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Air Max</h2>
                <span class="price">$1600.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-air-max_ccexpress.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Nike Blue</h2>
                <span class="price">$2050.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-azul.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Flywire</h2>
                <span class="price">$2250.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-flywire.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-mobile">
            <div class="product-card">
                <h2 class="name">Zapatillas</h2>
                <span class="price">$2000.00</span>
                <a href="#" class="popup-btn">Catálogo</a>
                <img src="./images/zapatillas.png" class="product-img" alt="">
            </div>
        </div>
    </div>
    <!-- FIN Sneakers -->



    <!-- Sneakers -->
    <div class="title-card">
        <h2>Sneakers</h2>
    </div>
    <div class="container">
        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Air Jordan</h2>
                <span class="price">$1850.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-Air-Jordan.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Air Max</h2>
                <span class="price">$1600.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-air-max_ccexpress.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Nike Blue</h2>
                <span class="price">$2050.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-azul.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Flywire</h2>
                <span class="price">$2250.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-flywire.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-mobile">
            <div class="product-card">
                <h2 class="name">Zapatillas</h2>
                <span class="price">$2000.00</span>
                <a href="#" class="popup-btn">Catálogo</a>
                <img src="./images/zapatillas.png" class="product-img" alt="">
            </div>
        </div>
    </div>
    <!-- FIN Sneakers -->

    <!-- Sneakers -->
    <div class="title-card">
        <h2>Sneakers</h2>
    </div>
    <div class="container">
        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Air Jordan</h2>
                <span class="price">$1850.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-Air-Jordan.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Air Max</h2>
                <span class="price">$1600.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-air-max_ccexpress.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Nike Blue</h2>
                <span class="price">$2050.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-azul.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Flywire</h2>
                <span class="price">$2250.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-flywire.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-mobile">
            <div class="product-card">
                <h2 class="name">Zapatillas</h2>
                <span class="price">$2000.00</span>
                <a href="#" class="popup-btn">Catálogo</a>
                <img src="./images/zapatillas.png" class="product-img" alt="">
            </div>
        </div>
    </div>
    <!-- FIN Sneakers -->

    <!-- Sneakers -->
    <div class="title-card">
        <h2>Sneakers</h2>
    </div>
    <div class="container">
        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Air Jordan</h2>
                <span class="price">$1850.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-Air-Jordan.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Air Max</h2>
                <span class="price">$1600.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-air-max_ccexpress.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Nike Blue</h2>
                <span class="price">$2050.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-azul.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-desk">
            <div class="product-card">
                <h2 class="name">Flywire</h2>
                <span class="price">$2250.00</span>
                <a class="popup-btn">Quick View</a>
                <img src="./images/zapatillas-nike-flywire.png" class="product-img" alt="">
            </div>
        </div>

        <div class="product prod-mobile">
            <div class="product-card">
                <h2 class="name">Zapatillas</h2>
                <span class="price">$2000.00</span>
                <a href="#" class="popup-btn">Catálogo</a>
                <img src="./images/zapatillas.png" class="product-img" alt="">
            </div>
        </div>
    </div>
    <!-- FIN Sneakers -->


    <!-- FOOTER -->
    <%-include("./partials/footer.ejs")%>

    <!-- FIN FOOTER -->





</body>

</html>
