<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

    <body>

        <%-include("./partials/header.ejs")%>

        <div class="header">
            <div class="title-header">
                <h2>TODOS LOS PRODUCTOS<br><span>&nbsp;&nbsp;&nbsp;&nbsp; EN UN SOLO LUGAR</span></h2>
            </div>
        </div>



                    <!-- FOOTER -->
                    <%-include("./partials/footer.ejs")%>
                        <!-- FIN FOOTER -->

    </body>

</html>