<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Digital Shoes - Registo</title>
        <link rel="stylesheet" href="./css/styles_producto.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    </head>
<body>
    <nav>
        <div>
            <a href="#"><img src="./images/logo.png" alt="" class="logo"></a>
        </div>

        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Productos</a></li>
            <li><a href="/register">Registrate</a></li>
            <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i></a></li>
        </ul>

    </nav>
        <main>
        
        <div class="contenedor-carrito">
            
            <div class="contenedor-prod-cant">
                <div class="contenedor-producto">
                    <img src="./images/zapatillas-nike-air-max_ccexpress.png" class="imagen" alt="">
                </div>
                <div class="contenedor-producto">
                   <p class="verde"><del>$23.586,00</del><br>$15.999,00<p class="rojo">OFERTA</p></p>
                   <br><p class="nota">Hasta 12 Cuotas s/Interés <br>
                    Envío Gratis</p>
                   <br>
                   <p>Cantidad</p>
                   <br>
                   <div class="adicion">
                   <div class="uno">-</div>
                   <div class="uno">1</div>
                   <div class="uno">+</div>
                   </div>
                </div>
                
            </div>
            <br>
            <div>
               
                <div class="contenedor-botones">
                   
                    <a href="/carrito"><button type="reset" class="button">Añadir al carrito</button></a>
                </div>
            </div>
        </div>
    </main>
    <br><br><br><br><br><br>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    <h4>NOSOTROS</h4>
                    <ul>
                        <li><a href="#">¿Quienes somos?</a></li>
                        <li><a href="#">Tiendas</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">TRABAJA CON NOSOTROS</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>ASISTENCIA</h4>
                    <ul>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Condiciones y Restricciones</a></li>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Rastreo de pedidos</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Shop</h4>
                    <ul>
                        <li><a href="#">Zapatillas</a></li>
                        <li><a href="#">Relojes</a></li>
                        <li><a href="#">Sudaderas</a></li>
                        <li><a href="#">Chándal</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>SÍGUENOS EN</h4>
                    <div class="wrapper">
                        <div class="icon facebook">

                            <span><i class="fab fa-facebook-f"></i></span>
                        </div>
                        <div class="icon twitter">

                            <span><i class="fab fa-twitter"></i></span>
                        </div>
                        <div class="icon instagram">

                            <span><i class="fab fa-instagram"></i></span>
                        </div>
                        <div class="icon youtube">

                            <span><i class="fab fa-youtube"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>