<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>

    <body>
        <%-include("./partials/header.ejs")%>


            <!-- Sneakers -->
            <div class="title-card">
                <h2>Air Jordan</h2>
            </div>
            <div class="price">
                <h3> $1850.00</h3>
            </div>
            <div class="container">
                <div class="product prod-desk">
                    <div class="product-card">
                        <img src="./images/zapatillas-Air-Jordan.png" class="product-img" alt="">
                    </div>
                </div>

                <div class="product prod-desk">
                    <div class="product-card">
                        <h2 class="name">Descripción</h2>
                        <h3 class="detalle">Nueva zapatilla Air Max, cómoda y perfecta una salida casual. Se tiene en 5
                            tallas y una variedad de colores</h3>
                        <a class="popup-btn">Agregar a carrito</a>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->

            <%-include("./partials/footer.ejs")%>

                <!-- FIN FOOTER -->


    </body>

</html>