<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

<body>
    <header>
        <nav>
            <div>
                <a href="/"><img src="./images/logo.png" alt="" class="logo"></a>
            </div>

            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/register">Registrate</a></li>
                <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i></a></li>
            </ul>

        </nav>
    </header>
    <main>
        <br>
        <div class="contenedor-general">
        <h2 class="titulares">Registrarme</h2>
        <div class="contenedor-register">
            <form action="/" method="get">
                <div class="register-individual">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" class="campos" placeholder="Nombre de usuario">
                </div>

                <div class="register-individual">
                    <label for="pass"></label>
                    <input type="password" name="pass" id="pass" class="campos" placeholder="Contraseña">
                </div>

                <div class="register-individual">
                    <label for="pass"></label>
                    <input type="password" name="pass" id="pass" class="campos" placeholder="Confirmar contraseña">
                </div>

                <div class="register-individual">
                    <label for="domicilio"></label>
                    <input type="text" name="domicilio" id="domicilio" class="campos" placeholder="Domicilio">
                </div>

                <div class="register-individual">
                    <label for="zipcode"></label>
                    <input type="text" name="zipcode" id="zipcode" class="campos" placeholder="Codigo postal">
                </div>

                <div class="register-individual">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" class="campos" placeholder="Email">
                </div>
                <br>
                <div class="register-individual">
                    <button type="submit" class="botones">Enviar</button>
                    <button type="reset" class="botones">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    </main>
    <%-include("./partials/footer.ejs")%>
</body>

</html>
