<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Shoes - Registo</title>
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="contenedor-logo-barra">
            <div id="logo"><img class="imageLogo" src="/images/logo.png" alt=""></div>
            <form class="barraBusqueda">
                <input class="search" type="search" placeholder="Buscar..." />
            </form>
            <div id="eslogan"><i class="fas fa-running"></i>
                <p id="eslogan-text">Las Mejores Marcas y Lanzamientos</p>
            </div>
        </div>
        <div class="contenedor-navBar-general">
            <div class="contenedor-navBar-left">
                <a href="/">Ofertas</a>
                <a href="/">Lanzamientos</a>
                <a href="/">Tiendas</a>
                <a href="/">Ayuda</a>
            </div>
            <br>
            <div class="contenedor-navBar-right">
                <div><a href="/register">Abri tu cuenta</a> <i class="fas fa-user-alt"></i></div>
                <div><a href="/login">Accede</a> <i class="fas fa-sign-in-alt"></i></div>
                <div><a href="/">Carrito de compras</a> <i class="fas fa-shopping-basket"></i></div>
            </div>
        </div>
        <br>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <br>
    </header>
    <main class="main-register">
        <br>
        <h2 class="titulares">Registrarme</h2>
        <div class="contenedor-register">            
            <form action="/" method="get">
                <div class="register-individual">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" class="campos" placeholder="Nombre de usuario">
                </div>

                <div class="register-individual">
                    <label for="pass"></label>
                    <input type="password" name="pass" id="pass" class="campos" placeholder="Contraseña">
                </div>

                <div class="register-individual">
                    <label for="pass"></label>
                    <input type="password" name="pass" id="pass" class="campos" placeholder="Confirmar contraseña">
                </div>

                <div class="register-individual">
                    <label for="domicilio"></label>
                    <input type="text" name="domicilio" id="domicilio" class="campos" placeholder="Domicilio">
                </div>

                <div class="register-individual">
                    <label for="zipcode"></label>
                    <input type="text" name="zipcode" id="zipcode" class="campos" placeholder="Codigo postal">
                </div>

                <div class="register-individual">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" class="campos" placeholder="Email">
                </div>
                <br>
                <div class="register-individual">
                    <button type="submit" class="botones">Enviar</button>
                    <button type="reset" class="botones">Cancelar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <br>
        <div class="contenedor-elementos-footer">
            <section class="elemento-footer">
                <div class="contenedor-iconos-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3>Todas las formas de pago</h3>
            </section>
            <section class="elemento-footer">
                <div class="contenedor-iconos-footer">
                    <i class="fas fa-truck"></i>
                </div>
                <h3>Envío gratis a todo el pais</h3>
            </section>
            <section class="elemento-footer">
                <div class="contenedor-iconos-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3>Sitio totalmente seguro</h3>
            </section>
        </div>
        <br>
        <br>
        <section>
            <div id="copyright">Copyright © 2022 Digital Shoes S.R.L.</div>
        </section>
    </footer>
</body>

</html>