@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: white;
    margin: auto;
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    
}

/*--- NAVBAR ---*/

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

nav .logo {
    width: 20vw;
    vertical-align: middle;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: BLA;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.fa-cart-arrow-up {
    color: white;
}

nav ul li a:hover {
    color: #111;
    background: #e02f2f;
}

nav .menu-btn i {
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media  screen and (min-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
    
    main{
        margin-bottom: 250px;
    }
    div>.contenedor-producto {
        width: 20vw;
        height: 40vh;
        border-radius: 0px;
        border: 0.5px solid gray;
    }
    .imagen {
        width: 20vw;
    }
   
}

@media screen and (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        z-index: 2;
        position: fixed;
        top: 80px;
        left: -100%;
        background: paleturquoise;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
    main{
        margin-bottom: -100px;
    }
    div>.contenedor-producto {
        width: 30vw;
        height: 20vh;
        border-radius: 0px;
        border: 0.5px solid gray;
    }
    .imagen {
        width: 30vw;
    }
}

/*--- HEADER ---*/

.header {
    margin: 0;
    height: 400px;
    display: grid;
    place-items: center;
    background-color: #e02f2f;
    text-align: left;
}

.header h2 {
    font-size: 50px;
}

.header h2 span {
    font-size: 70px;
}


/*  CARRITO  */


.contenedor-carrito {
    width: 90vw;
    border-radius: 15px;
    border: 0.5px solid gray;
    padding: 20px 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.titulo {
    text-align: center;
}

.subtitulos {
    display: flex;
    justify-content: space-between;
}

.contenedor-prod-cant {
    display: flex;
    justify-content: space-between;
  
}

.contenedor-producto {
    width: 40vw;
    height: 20vh;
    border-radius: 0px;
    border: 0.5px solid gray;
   
}


.cant {
    align-self: center;
}

.descripciones {
    border-top: 1px solid gray;
}

.descripciones-izquierda {
    display: flex;
    justify-content: space-between;
}

.radios {

    padding: 5px;
    display: flex;
    flex-direction: column;
}

.descripciones-derecha {
    text-align: right;

}

.total {
    text-align: right;

}

.contenedor-botones {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #e02f2f;
    color: white;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: #a81111;
    transition: 450ms;
}


/*--- FOOTER ---*/

footer {
    height: auto;
    background-color: white;
    
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul {
    list-style: none;
}

.footer {
    background: white;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: cornflowerblue;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer ul li a:hover {
    color: red;

}

.footer .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: center;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background: #fff;
}

.footer-col ul i {
    margin-top: 13px;
}

@media screen and (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    main{
        margin-bottom: 300px;
    }
    div>.contenedor-producto {
        width: 25vw;
        height: 40vh;
        border-radius: 0px;
        border: 0.5px solid gray;
    }
    
.imagen {
    width: 20vw;
}
}

@media screen and (max-width: 564px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
    main{
        width: 100%;
        margin-bottom: 100px;
    }
    div>.contenedor-producto {
        width: 30vw;
        height: 20vh;
        border-radius: 0px;
        border: 0.5px solid gray;
    }
    
.imagen {
    width: 30vw;
}
}

.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
    margin-left: -100px;
}

.wrapper .icon {
    position: relative;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
    width: 50px;
    width: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.fab:hover {
    color: red;
}