<!-- Footer -->
<footer class="text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-12 col-md-12 mb-12 mb-md-0 text-center">
        <h5 class="text-uppercase">Digital Shoes</h5>
        <p>
          © Copyright - 2022 www.digitalshoes.com.ar, TODOS LOS DERECHOS RESERVADOS. Las fotos contenidas en este site,
          el logotipo y las marcas son propiedad de www.digitalshoes.com.ar y/o de sus respectivos titulares. Está prohibida
          la reproducción total o parcial, sin la expresa autorización de la administradora de la tienda virtual.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="http://localhost:3000/">digitalshoes.com.ar</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->